@{
    ViewBag.Title = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello World! - @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootswatch/paper/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link href="/_assets/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="sidebar">
        <span>User's name</span>
        <ul class="nav">
            <!--We have used tag helpers of MVC below i.e. asp-controller and asp-action, but these will only work
                if we enable MVC tag helpers. to do it we have to include a dependency in project json
                After adding dependency in project.json we will need to include a special kind of view named _ViewImports.cshtml
                under Views folder. Any thing imported in this view will get imported to all of the views and we don't
                have to import certain things in every view
            -->
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-contoller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper" class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button class="sidebarToggle btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">Hello World!</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-sm btn-default">
                            <i class="fa fa-save"></i>&nbsp;Save
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-default">
                            <i class="fa fa-print"></i>&nbsp;Print
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            @RenderBody()
        </div>
        <div id="footer" class="container-fluid">
            <div class="navbar navbar-fixed-bottom"><h4 class="text-primary text-center">&copy; Hello World!</h4></div>
        </div>
    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/_assets/js/site.js"></script>
    @RenderSection("scripts", false);
</body>
</html>