@{ 
    ViewBag.Title = "Home page";
    //Layout = "_Layout"; //you really don't need to specify Layout on every page
    // if you want the page to automatically get a default layout then you could add 
    // another item under Views folder (not in any sub folder) named _ViewStart.cshtml and define the layout there
}
<form>
    <div>
        Hello World!!!!!
    </div>
</form>